

div{
    border: 1px solid black;
    padding: 5px;

}

.nav-box{
    text-align: center;
    
}

.side-box{
    text-align: center;

}


@media (max-width : 600px){
    .heading{
        display: none;
    }
    .content{
        display: none;
    }

    .nav-box{
        margin: 5px;
    }
}


@media (min-width : 600px){
    .heading{
        display: none;
    }

    .navigation{
        display: flex;
        flex-direction: row;
    }

    .nav-box{
        flex : 1;
        margin: 10px;
    }

    .side{
        flex : 1; 
        display: flex;
        flex-direction: column;
    }

    .content{
        display: flex;
        flex-direction: row;
    }

    .side-box{
        text-align: center;
        flex: auto;
    }

    .main{
        flex: 1;
    }
}

@media (min-width: 900px){
    .heading{
        display: flex;
        flex-direction: row;
    }

    .heading-box{
        flex: 1;
        margin: 10px;
    }
}